<html lang="en-us">
</head>


<body>

	<a href="http://videoauth.zolechamedia.net/admin/"><button>Admin</button></a>
        <h1>Cuepoints Manager</h1>
	 <form action="http://videoauth.zolechamedia.net/cuepoint/" enctype="multipart/form-data" method="post">
              <div>
                 <legend>Select media house id:</legend>
                 <input type="text" name="house_id">
              </div>
              
              <table border="1">
              <tr>
               <td>                
                   <legend>Timecode 1:</legend>
                   <input type="text" name="1_tc" placeholder="00:00:00;00">                
                </td>
                <td>                  
                   <legend>Text 1:</legend>
                   <input type="text" name="1_es" placeholder="Spanish" >
                </td>
                <td> 
                   <legend>Text 1:</legend>
                   <input type="text" name="1_pt" placeholder="Portugues">
                </td>
              </tr>
              
              <tr>
               <td> 
                     <legend>Timecode 2:</legend>
                     <input type="text" name="2_tc" placeholder="00:00:00;00">
                </td>
                <td> 
                     <legend>Text 2:</legend>
                     <input type="text" name="2_es"  placeholder="Spanish" >
                </td>
                <td> 
                      <legend>Text 2:</legend>
                      <input type="text" name="2_pt" placeholder="Portugues" >
                </td>
              </tr>
              
              <tr>
               <td> 
                  <legend>Timecode 3:</legend>
                  <input type="text" name="3_tc" placeholder="00:00:00;00">
                                  
                </td>
                <td>                 
                  <legend>Text 3:</legend>
                  <input type="text" name="3_es"  placeholder="Spanish" >
                                  
                </td>
                <td>                 
                   <legend>Text 3:</legend>
                   <input type="text" name="3_pt" placeholder="Portugues" >
                </td>
              </tr>
              
              <tr>
               <td> 
                   <legend>Timecode 4:</legend>
                   <input type="text" name="4_tc" placeholder="00:00:00;00">
                </td>
                <td>                                   
                
                   <legend>Text 4:</legend>
                   <input type="text" name="4_es"  placeholder="Spanish" >
                </td>
                <td>                 
                
                   <legend>Text 4:</legend>
                   <input type="text" name="4_pt" placeholder="Portugues" >
                </td>
              </tr>
              
              <tr>
               <td> 
                     <legend>Timecode 5:</legend>
                     <input type="text" name="5_tc" placeholder="00:00:00;00">
                </td>
                <td>                   
                  
                     <legend>Text 5:</legend>
                     <input type="text" name="5_es" placeholder="Spanish"  >
                </td>
                <td> 
                      <legend>Text 5:</legend>
                      <input type="text" name="5_pt" placeholder="Portugues" >
                </td>
              </tr>
              
              <tr>
               <td>                 
                  <legend>Timecode 6:</legend>
                  <input type="text" name="6_tc" placeholder="00:00:00;00">
                </td>
                <td>                 
                  <legend>Text 6:</legend>
                  <input type="text" name="6_es"  placeholder="Spanish" >
                </td>
                <td>                 
                   <legend>Text 6:</legend>
                   <input type="text" name="6_pt" placeholder="Portugues" >
                </td>
              </tr>
              
              <tr>
               <td> 
                   <legend>Timecode 7:</legend>
                   <input type="text" name="7_tc" placeholder="00:00:00;00">
                </td>
                <td> 
                   <legend>Text 7:</legend>
                   <input type="text" name="7_es" placeholder="Spanish"  >
                </td>
                <td> 
                   <legend>Text 7:</legend>
                   <input type="text" name="7_pt"  placeholder="Portugues">
                </td>
              </tr>
              
              <tr>
               <td> 
                     <legend>Timecode 8:</legend>
                     <input type="text" name="8_tc" placeholder="00:00:00;00">
                </td>
                <td> 
                     <legend>Text 8:</legend>
                     <input type="text" name="8_es"  placeholder="Spanish" >
                </td>
                <td> 
                      <legend>Text 8:</legend>
                      <input type="text" name="8_pt" placeholder="Portugues" >
                </td>
              </tr>
              
              <tr>
               <td> 
                  <legend>Timecode 9:</legend>
                  <input type="text" name="9_tc" placeholder="00:00:00;00">
                </td>
                <td> 
                  <legend>Text 9:</legend>
                  <input type="text" name="9_es"  placeholder="Spanish" >
                </td>
                <td> 
                   <legend>Text 9:</legend>
                   <input type="text" name="9_pt" placeholder="Portugues" >
                </td>
              </tr>                  

              <tr>
               <td>                 
                   <legend>Timecode 10:</legend>
                   <input type="text" name="10_tc" placeholder="00:00:00;00">
                </td>
                <td> 
                   <legend>Text 10:</legend>
                   <input type="text" name="10_es" placeholder="Spanish"  >
                </td>
                <td> 
                   <legend>Text 10:</legend>
                   <input type="text" name="10_pt" placeholder="Portugues" >
                </td>
              </tr>
              </table>

                            
              <button type="reset">Cancel</button>
              <button type="submit">Enviar</button>
		</form>
    <div id="footer">zolechamedia inc.</div>
</body></html>
