<!DOCTYPE html>
<html>
    <head>
        <title>Subtitles uploaded correctly</title>
    </head>
    <body>



        
            <h1>Subtitles manager</h1>
              <p><button type="button" class="btn btn-primary">
              <a href="http://videoauth.zolechamedia.net/subtitle/upload/">Add another file</a></button></p>
              <br >
              <p><button type="button" class="btn btn-primary"><a href="http://videoauth.zolechamedia.net/admin/subs_manager/subtitle/add/">Assign subtitle file to movie</a></button></p>





    </body>
</html>


