<!DOCTYPE html>
<html>
    <head>
        <title>Subtitles uploaded failed</title>
    </head>
    <body>
            <h1>Subtitles manager</h1>
	    <h3> {{ message }}</h3>
	      <br >
              <p><button type="button"><a href="http://videoauth.zolechamedia.net/subtitle/upload/">Try to upload the file again</a></button></p>
              <br >
              <p><button type="button"><a href="http://videoauth.zolechamedia.net/admin/subs_manager/subtitle/add/">Assign subtitle file to movie</a></button></p>
    </body>
</html>

