<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <title>Subtitles uploaded failed</title>
        
        
        
        
    </head>
    <body>



        
<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Subtitles manager</h2>

            <hr />
            <div class="img_body" style="float:left;margin:20px;"><img src="http://www.picturequotes.me/quote_pictures/albert_einstein_quote_i_have_tried_99_times_and_have_failed_but_on_the_100th_time_came_success_5598.jpg" border="5"></div>
            <br >
            <div class="body_text"><h4><strong>{{ message }}</strong></div></h4>
            <hr />
            <div class="next_step">
              <p><button type="button" class="btn btn-failed">
              <a href="http://videoauth.zolechamedia.net/subtitle/upload/">Try to upload the file again</a></button></p>
              <br >
              <p><button type="button" class="btn btn-warning"><a href="http://videoauth.zolechamedia.net/admin/subs_manager/subtitle/add/">Assign subtitle file to movie</a></button></p>
            </div>
        </div>
    </div>
</div>





    </body>
</html>

